@import "variables";

html { font-family: sans-serif !important; }

#dataverse-header-block { padding-top: 77px; }

.btn, .btn:hover, .btn:active, .btn:focus, .btn:visited { background-image: none; box-shadow: none; }
.dropdown-menu { box-shadow: none; }

.container > .navbar-header { margin: 0 !important; }
.navbar-default {
	padding-top: 1rem;
    padding-bottom: 1rem;
    background: white;
}
.navbar-brand { margin-left: 0 !important; }
.navbar-collapse { border-top: none !important; }

#search-row-panel, div[id$='facetCategoryList'] > div > ul > li { border: none; }

a { color: $scpo; }
.ui-widget-content a:not(.btn) { color: $scpo !important; }
.dataverseHeaderDataverseName { color: $scpo !important; }
a:hover { color: $scpo; text-decoration: none; opacity: 0.75; }
#dv-sidebar a, #dv-sidebar a:hover { color: inherit !important; }

.icon-dataverse { color: $scpo; }
.icon-dataset { color: black; }
.icon-file { color: $secondary; }
.facetTypeLink span[class^=icon] { color: $secondary; }

.card-title-icon-block, .resultDatasetCitationBlock { margin-bottom: 15px !important; }
table[id$='resultsTable'] td > div { padding: 25px; margin: 7px 0; }
table[id$='resultsTable'] td > div.dataverseResult,
table[id$='resultsTable'] td > div.datasetResult,
table[id$='resultsTable'] td > div {
	border: 1px solid $gray-200;
	border-left: 7px solid;
	border-radius: 5px;
    box-shadow: 0px 0px 5px 1px $gray-200;
}
table[id$='resultsTable'] td > div.dataverseResult { border-left-color: $scpo !important; }
table[id$='resultsTable'] td > div.datasetResult { border-left-color: black !important; }
table[id$='resultsTable'] td > div.fileResult { border-left-color: $secondary !important; }
table[id$='resultsTable'] .resultDatasetCitationBlock {
	box-shadow: none;
	background-color: $gray-200;
	border: none;
	padding: 10px;
}

.pagination > li > a { color: $scpo; }
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover { 
	background-color: $scpo;
	border-color: $scpo;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	color: darken($scpo, 15%);
}
.results-sort-pagination { margin-bottom: 10px; }
.results-sort-pagination.results-bottom { margin-top: 10px; }