@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


/*------------------------------------*\
  # COLORS
\*------------------------------------*/

$scpo: #e6142d;




/*------------------------------------*\
  # BOOTSTRAP VARIABLES
\*------------------------------------*/

$enable-responsive-font-sizes: true;
$displays: none, inline, inline-block, block, flex, inline-flex;
$primary: $scpo;
$font-family-sans-serif: 'Open Sans', sans-serif;
$h1-font-size: 3rem;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";